:root {
  --main-background: #d4c093;
  --secondary-background: #74c7e3;
  --accent-one: #278fb8;
  --accent-two: #a4b3bf;
  --text-color: #4d4a54;
}

.NavBar ul {
  display: flex;
  justify-content: space-around;
  background-color: var(--accent-one);
  align-items: center;
}

.NavBar ul li {
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: var(--accent-one);
  font-size: 13px;
}
.NavBar ul li a {
  text-decoration: none;
  list-style: none;
  background-color: var(--accent-one);
}
.NavBar {
  z-index: 500;
  background-color: var(--accent-one);
  max-height: 50px;
  padding: 10px;
  text-decoration: none;
  border: 2px solid #4d4a54;
}
.NavBar ul {
  display: flex;
  justify-content: space-between;
}
.NavBar input {
  background-color: var(--accent-two);
  border-radius: 5px;
  margin: 10px;
}
.searchBar {
  background-color: var(--accent-one);
}

.liButton {
  background-color: var(--secondary-background);
  border: 2px solid var(--text-color);
  border-radius: 10px;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 1px;
  cursor: pointer;
}
.loginSignup {
  justify-self: flex-end;
  display: flex;
}

.Footer {
  display: flex;
  justify-content: space-around;
  background-color: var(--accent-one);
  max-height: 50px;
  text-decoration: none;
  border: 2px solid #4d4a54;
  bottom: 0;
  width: 100%;
  background-attachment: scroll;
  background-position: 0% 0%;
  position: fixed;
  bottom: 0pt;
  left: 0pt;
  text-align: center;
}
.footerBox{
  width:150px;
  background-color: var(--accent-one);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footerTitle{
  border-bottom: 2px solid var(--accent-two);
  background-color: var(--accent-one);
}
.footerLinks{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-color: var(--accent-one);
}

.footerLink{

  background-color: var(--secondary-background);
  border: 2px solid var(--text-color);
  border-radius: 10px;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 5px;
  cursor: pointer;
}
