.productsContainer {
    border-style: solid;
    border-width: 3px;
    border-radius: 12px;
    display:flex;
    flex-wrap: wrap;
}



.listingImage {
    max-width: 200px;
    max-height: 150px;
    margin: 8px;
}