/* TODO Add site wide styles */
:root{
    --main-background:#D4C093;
    --secondary-background:#74c7e3;
    --accent-one:#278FB8;
    --accent-two:#a4b3bf;
    --text-color:#4D4A54;
}
 *{
     background-color: var(--main-background) ;
 }
