.ModalComp {
    margin: 1rem auto;
    max-width: 1000px;
    padding: 1rem;
  }
  
  .show {
    display: block;
  }
  
  .hide {
    display: none;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000003a;
    transition: opacity 0.2s ease;
  }
  
  .modal {
    width: 500px;
    position: relative;
    margin: 0px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 2px;
    transform: translateY(100%);
    transition: transform 0.2s ease;
    box-shadow: 0 2px 8px 3px;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  .modal #close {
    position: absolute;
    right: -1rem;
    top: -1rem;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 1px 1px 1px #0000003a;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.562);
  }